html, body {
    height: 100%;
    margin: 0;
    background-color: #3D3F3E !important;
}

.pageContainer{
    min-height: 100%;
    margin: 0 auto -50px;
}

.banner{
    background-image: url('../images/Website-Banner.png');
    background-repeat: no-repeat;
    background-position-x: right;
}

.avatar {
    width: 150px;
    height: auto;
}

.myName {
    text-align: center;
    color: white;
}

ul{
    text-align: center;
    list-style: none;
}

li{
    display: inline-block;
}

.socialIcon{
    height: 50px;
    width: auto;
}

.projectIntroduction {
    color: white;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.projectList {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

footer {
    background-color:white;
    height: 50px;
    width: 100%;
}
